<app-capcalera></app-capcalera>
<router-outlet></router-outlet>



<p>--------------------------------------------------------------------------------------------------------------</p>
<h1>llistes</h1>

<ul>
  <li *ngFor="let llibre of llibres ; index as indice; last as ultimo">{{indice}}, 
    <a (click)="mostrarAutor(llibre)">{{ llibre.titulo }}</a>, 
  <a href="http://google.com/#q={{llibre.autor}}">{{ llibre.autor }}</a>
    <span *ngIf=" indice >= 1 && !ultimo">Destacat!</span>
</li>
</ul>




<h1>Estils</h1>

<div class="cuadrat" [ngStyle]="{'background':color ? color:'peru' }"></div>

<button (click)="color = 'red'">Vermell</button>
<button (click)="color = 'green'" [ngClass]="color">Verd</button>
<button (click)="color = 'black'">negre</button>








<h1>Task Manager</h1>
<div [ngSwitch]= "diasSemana">
  <p class="item" *ngSwitchCase="'dilluns'"> llegums </p>
  <p class="item" *ngSwitchCase="'dimarts'"> faves </p>
  <p class="item" *ngSwitchCase="'dimecres'"> triquinosis </p>
  <p class="item" *ngSwitchCase="'dijous'"> menjam els ous </p>
  <p class="item" *ngSwitchCase="'divendres'"> faves tendres </p>
  <p class="item" *ngSwitchCase="'dissabte'"> camisa nova i pols </p>
  <p class="item" *ngSwitchCase="'diumenge'"> dejú </p>

  <p *ngSwitchDefault> la masovera va al mercat </p>

</div>

<input type="text" [(ngModel)]="diasSemana"/>




<div class = "container">
  <div *ngIf="valor1">
    <h1>Texto1</h1>
    <p>segfadkrfgmea geragla mergma eirgae orp aoprwe foar gfoawer fgower fjiow fw
      wfh a weriwef weifwe fweqty75ju ik kd9rt5g0k5s 45
    </p>
  </div>
</div>
<div class = "container">
  <div *ngIf="valor2 ; else otroTexto">
    <h1>Texto2</h1>
    <p>segfadkrfgmea geragla mergma eirgae orp aoprwe foar gfoawer fgower fjiow fw
      wfh a weriwef weifwe fweqty75ju ik kd9rt5g0k5s 45
    </p>
  </div>
</div>


<ng-template #otroTexto>
    <h1>TEXT ALTERNATIU</h1>
    <p>pocasolta bufabledes soricatu alternatiu llepafaroles escuramitjons esmolaxemeneies bufasindries llepacalçes</p>

</ng-template>


<hr>
<button (click)="valor1 = true">Activar text1</button>
<button (click)="valor2 = !valor2">Activar text2</button>


<h1>{{ title }}</h1>
<p>OIOIOISVDERFSMNRIEKGFNIWEKRGNF</p>


<app-colorins></app-colorins>
<app-colorins></app-colorins>
<app-colorins></app-colorins>
<app-colorins></app-colorins>
<app-colorins></app-colorins>
<app-colorins></app-colorins>
<app-colorins></app-colorins>