.cuadrat{
    display: block;
    margin: 20px;
    height: 150px;
    width: 150px;
    border: solid 3px silver;
    background: red;

}

li{
    list-style-type: none;
    font-size: 20px;
    padding: 10px 0;
}

li span{
    color: #fff;
    background: red;
    font-family: monospace;
    font-size: 12px;
    padding: 4px 8px;
    letter-spacing: 2px;
}

.active{
    background: blue;
}